<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sourceFilePath" value="C:\Education\Demo projects\Streams\ConsoleClient\Resources\Source File.txt"/>
    <add key="destinationFiePath" value="C:\Education\Demo projects\Streams\ConsoleClient\Resources\Copy File.txt"/>
  </appSettings>
</configuration>