<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Uris" value="C:\Education\.NET-Training.-Spring-2019\NET1.S.2019.Tsyvis.22\ConsoleApp\Resources\URIs.txt"/>
    <add key="UrisXml" value="C:\Education\.NET-Training.-Spring-2019\NET1.S.2019.Tsyvis.22\ConsoleApp\Resources\URIs.xml"/>
  </appSettings>
</configuration>