<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DataModelContainer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Education\Demo projects\AccountSystemDemo\WebToDelete\App_Data\ToDelete.mdf&quot;;Integrated Security=True" />
  <add name="AccountModel" connectionString="metadata=res://*/AccountModel.csdl|res://*/AccountModel.ssdl|res://*/AccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ToDelete.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>