<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="filePath" value="test.bin"/>
    <add key="namespace" value="BLL.Interface.Entities."/>
    <add key="assembly" value="BLL.Interface"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="DataModelContainer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Education\Demo projects\AccountSystemDemo\WebToDelete\App_Data\ToDelete.mdf";Integrated Security=True" />
  </connectionStrings>-->
</configuration>