<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="filePath" value="test.bin"/>
    <add key="namespace" value="BLL.Interface.Entities."/>
    <add key="assembly" value="BLL.Interface"/>
  </appSettings>
  <connectionStrings>
    <add name="AccountManagement" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Education\.NET-Training.-Spring-2019\NET1.S.2019.Tsyvis.24\DAL.ADO.NET\AccountMagement.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>
